<h2 style="text-align: center; margin: 40px">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }, html: {class: "login-form"}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "login-input" %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: "food-form-submit" %>
  </div>
<% end %>

<div style="text-align: center; margin: 20px;">
<%= render "devise/shared/links" %>
</div>