<h1>New Ingredient</h1>

<%= form_with model: [@recipe, @food], url: create_ingredient_path do |form| %>
<div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :measurement_unit, style: "display: block" %>
    <%= form.text_field :measurement_unit %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <%= form.fields_for :recipe_foods do |recipe_food| %>
    <%= recipe_food.label :recipe_quantity %>
    <%= recipe_food.number_field :quantity %>
  <% end %>  

  <div>
    <%= form.submit %>
  </div>
<% end %>