<h1 style="text-align: center; margin: 40px;">Shopping List</h1>
<div class="container">
<div class="shopping-info-div">
<p>
Amount of food items to buy: <%= @shopping_list.length %>
<p>
Total value of food needed: $<%= @total_value %>
</p>
</div>
<div class="row">
<table class="food-table">
    <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    <% @shopping_list.each_value do |item| %>
        <tr>
          <td><%= item[:food].name %></td>
          <td><%= item[:quantity] %></td>
          <td><%= item[:food].price * item[:quantity] %></td>
        </tr>
      <% end %>
    </table>
    </div>
</div>