<tr id="<%= dom_id food %>">
       <td><%= food.name %></td>
       <td><%= food.measurement_unit %></td>
       <td><%= food.price %></td>
       <td><%= link_to "delete", food_path(food), method: :delete %></td>
</tr>



     
